<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyufighter.springboot.dao.CommentDao">
    <resultMap id="BaseResult" type="com.tianyufighter.springboot.domain.Comment">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="tiezi_id" property="tieziId"/>
        <result column="comment_time" property="commentTime"/>
        <result column="content" property="content"/>
    </resultMap>
    <sql id="base_comment">
        username, tiezi_id, comment_time, content
    </sql>
    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
        insert into
        comment(<include refid="base_comment"/>)
        values
        (#{username}, #{tieziId}, #{commentTime}, #{content});
    </insert>
    <select id="queryCommentById"  resultMap="BaseResult">
        select * from comment where tiezi_id = #{id}
    </select>
</mapper>